body {
    margin: 0;
   padding: 0;
    background-image: url('./imagens/panameira.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    
  }
  
  .container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
  }
  
  .txt {
    color: white;
  }
  .txt1 {
    color: gold;
  }
  

  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
    